# General purpose packages
h5py
numpy
tqdm
umap-learn
matplotlib
opencv-python

# SPADE packages
torch
torchvision
dominate
dill
scikit-image

# Tensorboard packages
tensorflow==1.15.0
scipy==1.2.0
pillow==6.1.0